
.selectpopup-select {
  border: 10px rgba(100,100,100,0.75) solid;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -o-border-radius:10px;
  border-radius:10px;
  margin-top:-15px;
  margin-left:-15px;
  position:absolute;
}
 
.selectpopup-select select {
  font-size:100%;
  padding:0;
  margin:0;
  outline:none;
  min-width:100px;
  min-height:100px;
  font:inherit;
  width:100%;
}

div.selectpopup-select select:focus {
  border:1px solid #666;
}

.selectpopup-list {
  display:inline;
  cursor: pointer;
}

.selectpopup-list a {
  color: black;
}

.selectpopup-list a span {
  font-weight:bold;
}

.selectpopup-list a:hover {
  text-decoration:none;
}

.selectpopup-list a:hover span {
  text-decoration:underline;
}

.selectpopup-list a span.placeholder {
  font-weight:normal;
}


#bundlecache-ui-bundles .bundlename {
  color:inherit;
}

#page-admin-config-development-bundlecache .bundlecache-color-1 { background-color:#5EFEB8; }
#page-admin-config-development-bundlecache .bundlecache-color-2 { background-color:#B1D742; }
#page-admin-config-development-bundlecache .bundlecache-color-3 { background-color:#FFC42C; }
#page-admin-config-development-bundlecache .bundlecache-color-4 { background-color:#FF9B00; }
#page-admin-config-development-bundlecache .bundlecache-color-5 { background-color:#FF5820; }
#page-admin-config-development-bundlecache .bundlecache-color-6 { background-color:#FF1A92; }


.bundlecache-depth-0 .path { margin-left: 00px; }
.bundlecache-depth-1 .path { margin-left: 20px; }
.bundlecache-depth-2 .path { margin-left: 40px; }
.bundlecache-depth-3 .path { margin-left: 60px; }
.bundlecache-depth-4 .path { margin-left: 80px; }
.bundlecache-depth-5 .path { margin-left: 100px; }
.bundlecache-depth-6 .path { margin-left: 120px; }
.bundlecache-depth-7 .path { margin-left: 140px; }
.bundlecache-depth-8 .path { margin-left: 160px; }
.bundlecache-depth-9 .path { margin-left: 180px; }
.bundlecache-depth-10 .path { margin-left: 200px; }
.bundlecache-depth-11 .path { margin-left: 220px; }
.bundlecache-depth-12 .path { margin-left: 240px; }

.path {
  padding-left:12px;
  background:no-repeat left center;
}

#bundlecache-file-table tbody tr {
  border-top:1px solid #DFE2DD;
  background:white;
}

#bundlecache-file-table tbody td {
  padding:2px 10px;
}

#bundlecache-file-table .bundlecache-directory.expanded td {
  background-color: #f3f4ee
}

.bundlecache-directory .path {
  cursor:pointer;
}

.bundlecache-directory .path a {
  font-weight:bold;
}

.bundlecache-directory .path:hover a {
  text-decoration:underline;
}

.bundlecache-directory.expanded .path {
  background-image:url(expanded.png);
}

.bundlecache-directory.collapsed .path {
  background-image:url(collapsed.png);
}

.bundlecache-export {
  width:100%;
  font-family:monospace;
}





